<ion-header translucent>
  <ion-toolbar mode="ios">
    <ion-title>Modal Content</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <form id="form-checkout">

    <ion-label>Card Number</ion-label>
    <ion-input type="text" name="cardNumber" id="form-checkout__cardNumber"></ion-input>

    <ion-label>Card Name</ion-label>
    <ion-input type="text" name="cardholderName" id="form-checkout__cardholderName"></ion-input>

    <ion-label>Email</ion-label>
    <ion-input type="email" name="cardholderEmail" id="form-checkout__cardholderEmail"></ion-input>

    <input type="text" name="cardExpirationDate" id="form-checkout__cardExpirationDate" />
    <input type="text" name="securityCode" id="form-checkout__securityCode" />
    <select name="issuer" id="form-checkout__issuer"></select>
    <input type="text" name="identificationNumber" id="form-checkout__identificationNumber"/>
    <select name="installments" id="form-checkout__installments"></select>
    
    <ion-button expand="block" expand="block" type="submit" id="form-checkout__submit">
      Pay
    </ion-button>
    <progress value="0" class="progress-bar">Cargando...</progress>
  </form> -->

</ion-content>
