<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Products</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToCart()">
        <app-cart-icon></app-cart-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
  
      <ion-col size="6" *ngFor="let item of listModel">
        <ion-card>
          <img [src]="item.image"/>
          <section>
            <ion-row>
              <p>{{item.category}}</p>
              <ion-card-subtitle>{{item.title}}</ion-card-subtitle>
            </ion-row>
            <ion-row>
              <p class="cost-prod"> {{item.price | currency: 'USD'}}</p>          
            </ion-row>
            <ion-row>
              <ion-col class="btn-add" (click)="setProductCart(item)">
                <span>
                  add to cart <ion-icon name="add-circle-outline"></ion-icon> 
                </span> 
              </ion-col>
            </ion-row>
          </section>

        </ion-card>      
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
