<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Cart</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <h1 *ngIf="cartProducts.length == 0"> No items in the cart</h1>
    <ion-card *ngFor="let item of cartProducts">
      <ion-row>
        <ion-col size="4">
          <img [src]="item.image"/>
        </ion-col>
        <ion-col size="8">
          <section>
            <ion-row>
              <ion-card-subtitle>{{item.title}}</ion-card-subtitle>
            </ion-row>
            <ion-row>
              <p class="cost-prod"> {{item.price | currency: 'USD'}}</p>          
            </ion-row>
            <ion-row>
              <ion-col (click)="deleteProductItem()">
                <span class="btn-delete">
                  Delete &nbsp; <ion-icon name="close-circle-outline"></ion-icon>
                </span> 
              </ion-col>
            </ion-row>
          </section>
        </ion-col>
      </ion-row>
    </ion-card>  
    
    <ion-row *ngIf="cartProducts.length > 0" class="total-txt">
      <h2>Total: {{totalPrice | currency: 'USD'}}</h2> 
    </ion-row>

    <ion-row *ngIf="cartProducts.length > 0" class="pay-contain">
      <ion-col size=12>
        <ion-button expand="block" expand="block" (click)="openModalPayment()">
          Go To Checkout
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
